flows.json
[{"id":"2996939f.25034c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4890a415.c6bc5c","type":"function","z":"2996939f.25034c","name":"PreToken","func":"global.set(\"ag\",msg.payload.ag)\nglobal.set(\"sx\",msg.payload.sx)\nglobal.set(\"ms\",msg.payload.ms)\nglobal.set(\"ch\",msg.payload.ch)\nglobal.set(\"bm\",msg.payload.bm)\nglobal.set(\"rg\",msg.payload.rg)\nvar apikey=\"74PM-PLHtMgjkICUqU2QIrxurchaK--m88W8t8CpCGEF\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1180,"y":320,"wires":[["5858bb04.10f2a4"]]},{"id":"5858bb04.10f2a4","type":"http request","z":"2996939f.25034c","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":1379,"y":308.9999952316284,"wires":[["648a56cc.411798"]]},{"id":"6161cb2.fa0e034","type":"debug","z":"2996939f.25034c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1850,"y":220,"wires":[]},{"id":"648a56cc.411798","type":"function","z":"2996939f.25034c","name":"Pre Prediction","func":"var ag = global.get('ag')\nvar sx = global.get('sx')\nvar sm = global.get('sm')\nvar ch = global.get('ch')\nvar bm = global.get('bm')\nvar rg = global.get('rg')\nvar token=msg.payload.access_token\nvar instance_id=\"7f9ed03f-9921-4014-a644-c50d8e2714ee\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"age\", \"sex\", \"bmi\", \"children\", \"smoker\", \"region\"],\"values\": [[ag,sx,bm,ch,sm,rg]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1560,"y":280,"wires":[["39c4f8b7.774238"]]},{"id":"39c4f8b7.774238","type":"http request","z":"2996939f.25034c","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/v4/deployments/68d7bce9-06de-4ba8-aed9-8f9d023eafec/predictions","tls":"","persist":false,"proxy":"","authType":"","x":1669.5000076293945,"y":215.99999904632568,"wires":[["1ed79e33.0df8a2","6161cb2.fa0e034"]]},{"id":"893bf9a9.61b6f8","type":"ui_form","z":"2996939f.25034c","name":"","label":"","group":"d36bf5fd.8dda38","order":1,"width":0,"height":0,"options":[{"label":"Age","value":"ag","type":"number","required":true,"rows":null},{"label":"Sex","value":"sx","type":"text","required":true,"rows":null},{"label":"Smoker","value":"sm","type":"text","required":true,"rows":null},{"label":"Children","value":"ch","type":"number","required":true,"rows":null},{"label":"Bim","value":"bm","type":"number","required":true,"rows":null},{"label":"Region","value":"rg","type":"text","required":true,"rows":null}],"formValue":{"ag":"","sx":"","sm":"","ch":"","bm":"","rg":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":1030,"y":320,"wires":[["4890a415.c6bc5c"]]},{"id":"8efa0c7c.7bb06","type":"ui_text","z":"2996939f.25034c","group":"d36bf5fd.8dda38","order":2,"width":0,"height":0,"name":"","label":"Charges","format":"{{msg.payload}}","layout":"row-spread","x":1700,"y":80,"wires":[]},{"id":"1ed79e33.0df8a2","type":"function","z":"2996939f.25034c","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1460,"y":140,"wires":[["8efa0c7c.7bb06"]]},{"id":"d36bf5fd.8dda38","type":"ui_group","z":"","name":"Default","tab":"917cd644.b278f8","order":1,"disp":true,"width":"6","collapse":false},{"id":"917cd644.b278f8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]